body {
    font-family: 'Metropolis';
}

.btn-outline-apply{
    border: 1.3px solid #717CFF;
    border-radius: 8px;
}

nav{
    ul{
        li{
            a{
                margin-right: 20px;
                color: #373737;
            }
            .btn-active{
                background-color: #717CFF;
                width: 23px;
                height: 3px;
                border-radius: 400px;
                margin-left: 7px;
            }

        }
    }
}

header{
    overflow: hidden;
    h1{
        font-size: 56px;
        font-weight: 800;
        margin-top: 150px;
    }
    p{
        color: #7D7D7D;
        font-size: 20px;
    }
    
    .btn-primary-apply{
        background-color: #717CFF;
        color: #ffff;
        border-radius: 8px;
        margin-bottom: 70px;
    }
    
    .container{
        position: relative;
        img{
            height: 565px;
            position: absolute;
            right: 0px;
        }
        .circle{
            position: absolute;
            height: 581px;
            width: 1030px;
            background-color: #8471FF;
            opacity: 0.75;
            border-radius: 200%;
            margin-top: 100px;
            left: 130px;
            top: 30px;
        }
    }

}

.university{
    background-color: #FAFAFA;
    p{
        font-size: 26px;
        color: #828282;
    }

    .owl-nav{
        display: none;
    }

    .owl-carousel{
        .item{
            margin-right: 50px;
        }
    }

    .owl-dots{
        margin-top: 100px;
        margin-bottom: 40px;
        line-height: 30.33px;
        .active{
            span{
                margin-top: 10px!important;
                background-color: #717CFF!important;
                height: 13px!important;
                width: 13px!important;
                border-radius: 100px!important;
            }
        }
    }
}

.our-service{
    .service-title{
        
        margin-top: 100px;
        font-size: 36px;
        font-weight: bold;
    }
    .service-description{
        font-size: 22px;
        color: #7D7D7D;
        margin-bottom: 100px;
    }

    .card{
        .card-body{
            box-shadow: 0px 4px 60px 0px rgba(201, 201, 201, 0.25);
            border-radius: 15px;
            padding:35px;
            .icon-service{
                width: 76px;
                height: 76px;
                border-radius: 50%;
                line-height: 76px;
            }

            .card-service-title{
                font-size: 24px;
                font-weight: bold;
                color:#515F66;
            }

            .card-service-content{
                font-size: 16px;
                color: #A2A9AC;
            }

            .service-more{
                .more-title{
                    font-size: 17px;
                    font-weight: bold;
                    color:#717CFF;
                }
            }
        }
    }
}

.news{
    background-color: #FAFAFA;
    .news-title{
        margin-top: 100px;
        font-size: 37px;
        font-weight: bold;
    }

    .news-description{
        margin-bottom: 70px;
        font-size: 22px;
        color:#7D7D7D;
    }

    .card-news{
        box-shadow: 0px 4px 70px 0px rgba(151, 151, 151, 0.25);
        border-radius: 15px;
        height: 406px;
        .news-date{
            font-size: 16px;
            font-weight: 600;
            color: #565656;
        }

        .news-headline{
            font-size: 22px;
            font-weight: bold;
            color: #252525;
        }
    }

    .btn-join-here{
        margin-top: 70px;
        background-color: #717CFF;
        color: #ffff;
        border-radius: 8px;
        margin-bottom: 70px; 
    }
}

.upcoming-events{

    .upcoming-title{
        margin-top: 100px;
        font-size: 37px;
        font-weight: bold;
    }
    
    .upcoming-event-description{
        margin-bottom: 70px;
        font-size: 22px;
        color:#7D7D7D;
    }

    .card-upcoming-events{
        padding:10px;
        border-radius: 15px;
        .card-body{
            .events-date{
                height: 76px;
                width: 76px;
                background-color: #ECEDFF;
                border-radius: 11px;

                .date{
                    font-size: 27px;
                    font-weight: bold;
                    color: #717CFF;
                }

                p{
                    font-weight: 700;
                    line-height: 15px;
                    color:#717CFF;
                    font-size: 18px;
                }
            }

            .card-events-title{
                font-size: 20px;
                font-weight: bold;
            }

            .card-event-content{
                margin-top: 30px;
                color:#9BA3A7;
            }
        }
    }

    .owl-carousel{
        .owl-nav{
            display: none;
        }
    }

    .owl-dots{
        margin-top: 100px;
        margin-bottom: 40px;
        line-height: 30.33px;
        .active{
            span{
                margin-top: 10px!important;
                background-color: #717CFF!important;
                height: 13px!important;
                width: 13px!important;
                border-radius: 100px!important;
            }
        }
    }
}

.countries-covered{
    background-color: #FAFAFA;
    .countries-covered-title{
        margin-top: 100px;
        font-size: 37px;
        font-weight: bold;
    }

    .countries-covered-description{
        margin-bottom: 70px;
        font-size: 22px;
        color:#7D7D7D;
    }

    .card-country{
        background-color: transparent;
        .card-img-top{
            border-radius: 29px!important;
        }

        .card-title{
            font-size: 25px;
            font-weight:600;
            color: #37474F;
        }

        .card-text{
            font-size: 16px;
            font-weight: 500;
            color: #6D797F;
        }

    }

    .owl-dots{
        margin-top: 100px;
        margin-bottom: 40px;
        line-height: 30.33px;
        .active{
            span{
                margin-top: 10px!important;
                background-color: #717CFF!important;
                height: 13px!important;
                width: 13px!important;
                border-radius: 100px!important;
            }
        }
    }
}

.testimonials{
    .testimonials-title{
        margin-top: 100px;
        font-size: 37px;
        font-weight: bold;
    }

    .testimonials-description{
        margin-bottom: 70px;
        font-size: 22px;
        color:#7D7D7D;
    }

    .card-testimonials{
        .testimonial-profil{
            .testimonial-foto{
                
                margin-right: 20px;
                img{
                    border-radius: 12px;
                }
            }
            .testimonial-name{
                padding-top: 5px;
                p{
                    font-size: 22px;
                    color: #37474F;
                    font-weight: 600;
                }
                span{
                    font-size: 18px;
                    font-weight: 500;
                    color: #7D888D;
                }
            }
        }

        .card-body{
            background-color: transparent;
            .card-text{
                margin-top: 10px;
                font-size: 16px;
                font-weight: 500;
                color: #7D888D;
            }
        }
    }

    .owl-nav{
        display: none;
    }

    .owl-dots{
        margin-top: 100px;
        margin-bottom: 40px;
        line-height: 30.33px;
        .active{
            span{
                margin-top: 10px!important;
                background-color: #717CFF!important;
                height: 13px!important;
                width: 13px!important;
                border-radius: 100px!important;
            }
        }
    }
}

