body {
  font-family: 'Metropolis';
}

.btn-outline-apply {
  border: 1.3px solid #717CFF;
  border-radius: 8px;
}

nav ul li a {
  margin-right: 20px;
  color: #373737;
}

nav ul li .btn-active {
  background-color: #717CFF;
  width: 23px;
  height: 3px;
  border-radius: 400px;
  margin-left: 7px;
}

header {
  overflow: hidden;
}

header h1 {
  font-size: 56px;
  font-weight: 800;
  margin-top: 150px;
}

header p {
  color: #7D7D7D;
  font-size: 20px;
}

header .btn-primary-apply {
  background-color: #717CFF;
  color: #ffff;
  border-radius: 8px;
  margin-bottom: 70px;
}

header .container {
  position: relative;
}

header .container img {
  height: 565px;
  position: absolute;
  right: 0px;
}

header .container .circle {
  position: absolute;
  height: 581px;
  width: 1030px;
  background-color: #8471FF;
  opacity: 0.75;
  border-radius: 200%;
  margin-top: 100px;
  left: 130px;
  top: 30px;
}

.university {
  background-color: #FAFAFA;
}

.university p {
  font-size: 26px;
  color: #828282;
}

.university .owl-nav {
  display: none;
}

.university .owl-carousel .item {
  margin-right: 50px;
}

.university .owl-dots {
  margin-top: 100px;
  margin-bottom: 40px;
  line-height: 30.33px;
}

.university .owl-dots .active span {
  margin-top: 10px !important;
  background-color: #717CFF !important;
  height: 13px !important;
  width: 13px !important;
  border-radius: 100px !important;
}

.our-service .service-title {
  margin-top: 100px;
  font-size: 36px;
  font-weight: bold;
}

.our-service .service-description {
  font-size: 22px;
  color: #7D7D7D;
  margin-bottom: 100px;
}

.our-service .card .card-body {
  -webkit-box-shadow: 0px 4px 60px 0px rgba(201, 201, 201, 0.25);
          box-shadow: 0px 4px 60px 0px rgba(201, 201, 201, 0.25);
  border-radius: 15px;
  padding: 35px;
}

.our-service .card .card-body .icon-service {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  line-height: 76px;
}

.our-service .card .card-body .card-service-title {
  font-size: 24px;
  font-weight: bold;
  color: #515F66;
}

.our-service .card .card-body .card-service-content {
  font-size: 16px;
  color: #A2A9AC;
}

.our-service .card .card-body .service-more .more-title {
  font-size: 17px;
  font-weight: bold;
  color: #717CFF;
}

.news {
  background-color: #FAFAFA;
}

.news .news-title {
  margin-top: 100px;
  font-size: 37px;
  font-weight: bold;
}

.news .news-description {
  margin-bottom: 70px;
  font-size: 22px;
  color: #7D7D7D;
}

.news .card-news {
  -webkit-box-shadow: 0px 4px 70px 0px rgba(151, 151, 151, 0.25);
          box-shadow: 0px 4px 70px 0px rgba(151, 151, 151, 0.25);
  border-radius: 15px;
  height: 406px;
}

.news .card-news .news-date {
  font-size: 16px;
  font-weight: 600;
  color: #565656;
}

.news .card-news .news-headline {
  font-size: 22px;
  font-weight: bold;
  color: #252525;
}

.news .btn-join-here {
  margin-top: 70px;
  background-color: #717CFF;
  color: #ffff;
  border-radius: 8px;
  margin-bottom: 70px;
}

.upcoming-events .upcoming-title {
  margin-top: 100px;
  font-size: 37px;
  font-weight: bold;
}

.upcoming-events .upcoming-event-description {
  margin-bottom: 70px;
  font-size: 22px;
  color: #7D7D7D;
}

.upcoming-events .card-upcoming-events {
  padding: 10px;
  border-radius: 15px;
}

.upcoming-events .card-upcoming-events .card-body .events-date {
  height: 76px;
  width: 76px;
  background-color: #ECEDFF;
  border-radius: 11px;
}

.upcoming-events .card-upcoming-events .card-body .events-date .date {
  font-size: 27px;
  font-weight: bold;
  color: #717CFF;
}

.upcoming-events .card-upcoming-events .card-body .events-date p {
  font-weight: 700;
  line-height: 15px;
  color: #717CFF;
  font-size: 18px;
}

.upcoming-events .card-upcoming-events .card-body .card-events-title {
  font-size: 20px;
  font-weight: bold;
}

.upcoming-events .card-upcoming-events .card-body .card-event-content {
  margin-top: 30px;
  color: #9BA3A7;
}

.upcoming-events .owl-carousel .owl-nav {
  display: none;
}

.upcoming-events .owl-dots {
  margin-top: 100px;
  margin-bottom: 40px;
  line-height: 30.33px;
}

.upcoming-events .owl-dots .active span {
  margin-top: 10px !important;
  background-color: #717CFF !important;
  height: 13px !important;
  width: 13px !important;
  border-radius: 100px !important;
}

.countries-covered {
  background-color: #FAFAFA;
}

.countries-covered .countries-covered-title {
  margin-top: 100px;
  font-size: 37px;
  font-weight: bold;
}

.countries-covered .countries-covered-description {
  margin-bottom: 70px;
  font-size: 22px;
  color: #7D7D7D;
}

.countries-covered .card-country {
  background-color: transparent;
}

.countries-covered .card-country .card-img-top {
  border-radius: 29px !important;
}

.countries-covered .card-country .card-title {
  font-size: 25px;
  font-weight: 600;
  color: #37474F;
}

.countries-covered .card-country .card-text {
  font-size: 16px;
  font-weight: 500;
  color: #6D797F;
}

.countries-covered .owl-dots {
  margin-top: 100px;
  margin-bottom: 40px;
  line-height: 30.33px;
}

.countries-covered .owl-dots .active span {
  margin-top: 10px !important;
  background-color: #717CFF !important;
  height: 13px !important;
  width: 13px !important;
  border-radius: 100px !important;
}

.testimonials .testimonials-title {
  margin-top: 100px;
  font-size: 37px;
  font-weight: bold;
}

.testimonials .testimonials-description {
  margin-bottom: 70px;
  font-size: 22px;
  color: #7D7D7D;
}

.testimonials .card-testimonials .testimonial-profil .testimonial-foto {
  margin-right: 20px;
}

.testimonials .card-testimonials .testimonial-profil .testimonial-foto img {
  border-radius: 12px;
}

.testimonials .card-testimonials .testimonial-profil .testimonial-name {
  padding-top: 5px;
}

.testimonials .card-testimonials .testimonial-profil .testimonial-name p {
  font-size: 22px;
  color: #37474F;
  font-weight: 600;
}

.testimonials .card-testimonials .testimonial-profil .testimonial-name span {
  font-size: 18px;
  font-weight: 500;
  color: #7D888D;
}

.testimonials .card-testimonials .card-body {
  background-color: transparent;
}

.testimonials .card-testimonials .card-body .card-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #7D888D;
}

.testimonials .owl-nav {
  display: none;
}

.testimonials .owl-dots {
  margin-top: 100px;
  margin-bottom: 40px;
  line-height: 30.33px;
}

.testimonials .owl-dots .active span {
  margin-top: 10px !important;
  background-color: #717CFF !important;
  height: 13px !important;
  width: 13px !important;
  border-radius: 100px !important;
}

.ready-to-chase {
  background-color: #FAFAFA;
}

.ready-to-chase p {
  font-size: 30px;
  font-weight: bold;
  color: #252525;
  margin-bottom: 30px;
}

.ready-to-chase .btn-ready {
  padding-top: 70px;
}

.ready-to-chase .btn-ready .btn-primary-apply {
  background-color: #717CFF;
  color: #ffff;
  border-radius: 8px;
  margin-bottom: 70px;
}

.footer {
  background-color: #717CFF;
  color: #ffff;
  font-size: 16px;
  font-weight: 200;
}

.footer ul li a {
  color: #ffff;
}

.footer .sosial-media {
  position: relative;
  bottom: -185px;
}
/*# sourceMappingURL=style.css.map */